<div class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="container px-6 py-12 mx-auto max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
     <div>
        <div class="text-2xl font-bold mb-2">{{ .Site.Params.homepage.social.title }}</div>
        <p class="opacity-60">{{ .Site.Params.homepage.social.description }}</p>
     </div>
     <ul class="flex justify-center gap-4">
        {{ with .Site.Params.homepage.social.twitter }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="Twitter"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg 
                 version="1.1" id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 248 204"  style="enable-background:new 0 0 248 204;" xml:space="preserve"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <style type="text/css">
                    .st0{fill:#1D9BF0;}
                 </style>
                 <g id="Logo_1_">
                    <path id="white_background" class="st0" d="M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04
                       C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66
                       c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64
                       c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76
                       c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26
                       c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z"/>
                 </g>
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.linkedin }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="LinkedIn"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" 
                 width="24"
                 height="24"
                 viewBox="4 4 16 16"
                 stroke-width="2"
                 stroke="none"
                 fill="rgb(10,102,194)"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                 <path stroke="none" d="M0 0h24v24H0z" fill="none"  />
                 <rect stroke="none" x="4" y="4" width="16" height="16" rx="2" />
                 <line stroke="white" x1="8" y1="11" x2="8" y2="16" />
                 <line stroke="white" x1="8" y1="8" x2="8" y2="8.01" />
                 <line stroke="white" x1="12" y1="16" x2="12" y2="11" />
                 <path stroke="white" d="M16 16v-3a2 2 0 0 0 -4 0" />
              </svg>
              <!-- <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <rect x="4" y="4" width="16" height="16" rx="2" />
                 <line x1="8" y1="11" x2="8" y2="16" />
                 <line x1="8" y1="8" x2="8" y2="8.01" />
                 <line x1="12" y1="16" x2="12" y2="11" />
                 <path d="M16 16v-3a2 2 0 0 0 -4 0" /> -->
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.xing }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="xing"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <path d="M14.48736,22.8L9.65664,14.33208L17.154,1.2H22.2L14.70288,14.33208L19.53384,22.8H14.48736z M6.55728,16.26888l3.74808-6.17064l-2.81088-4.9512 H2.73696l2.81112,4.9512L1.8,16.26888H6.55728z"/>
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.github }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="GitHub"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1"
                 stroke="black"
                 fill="white"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <circle cx="12" cy="12" r="12" d="M0 0h24v24H0z" fill="black"/>
                 <path
                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                    />
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.gitlab }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="GitLab"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg width="24" height="24" viewBox="0 0 256 236" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" 
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                 <path d="M128.075 236.075l47.104-144.97H80.97l47.104 144.97z" fill="#E24329"/>
                 <path d="M128.075 236.074L80.97 91.104H14.956l113.119 144.97z" fill="#FC6D26"/>
                 <path d="M14.956 91.104L.642 135.16a9.752 9.752 0 0 0 3.542 10.903l123.891 90.012-113.12-144.97z" fill="#FCA326"/>
                 <path d="M14.956 91.105H80.97L52.601 3.79c-1.46-4.493-7.816-4.492-9.275 0l-28.37 87.315z" fill="#E24329"/>
                 <path d="M128.075 236.074l47.104-144.97h66.015l-113.12 144.97z" fill="#FC6D26"/>
                 <path d="M241.194 91.104l14.314 44.056a9.752 9.752 0 0 1-3.543 10.903l-123.89 90.012 113.119-144.97z" fill="#FCA326"/>
                 <path d="M241.194 91.105h-66.015l28.37-87.315c1.46-4.493 7.816-4.492 9.275 0l28.37 87.315z" fill="#E24329"/>
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.medium }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="Medium"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <rect x="4" y="4" width="16" height="16" rx="2" />
                 <path d="M8 9h1l3 3l3 -3h1" />
                 <line x1="8" y1="15" x2="10" y2="15" />
                 <line x1="14" y1="15" x2="16" y2="15" />
                 <line x1="9" y1="9" x2="9" y2="15" />
                 <line x1="15" y1="9" x2="15" y2="15" />
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.reddit }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="Medium"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <path
                    d="M12 8c2.648 0 5.028 .826 6.675 2.14a2.5 2.5 0 0 1 2.326 4.36c0 3.59 -4.03 6.5 -9 6.5c-4.875 0 -8.845 -2.8 -9 -6.294l-1 -.206a2.5 2.5 0 0 1 2.326 -4.36c1.646 -1.313 4.026 -2.14 6.674 -2.14z"
                    />
                 <path d="M12 8l1 -5l6 1" />
                 <circle cx="19" cy="4" r="1" />
                 <circle cx="9" cy="13" r=".5" fill="currentColor" />
                 <circle cx="15" cy="13" r=".5" fill="currentColor" />
                 <path d="M10 17c.667 .333 1.333 .5 2 .5s1.333 -.167 2 -.5" />
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.dribbble }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="Dribbble"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler icon-tabler-brand-dribbble"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <circle cx="12" cy="12" r="9" />
                 <path d="M9 3.6c5 6 7 10.5 7.5 16.2" />
                 <path d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4" />
                 <path d="M3.1 10.75c5 0 9.814 -.38 15.314 -5" />
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.youtube }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="YouTube"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler icon-tabler-brand-youtube"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <circle cx="12" cy="12" r="9" />
                 <path d="M10 9l5 3l-5 3z" />
              </svg>
           </a>
        </li>
        {{ end }}
        {{ with .Site.Params.homepage.social.instagram }}
        <li>
           <a
              href="{{.}}"
              target="_blank"
              rel="noopener"
              aria-label="Instagram"
              class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300"
              >
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler icon-tabler-brand-instagram"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 >
                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                 <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                 <circle cx="12" cy="12" r="9" />
                 <path d="M10 9l5 3l-5 3z" />
              </svg>
           </a>
        </li>
        {{ end }}
     </ul>
  </div>
  </div>